In [1]:
import pandas as pd
import numpy as np

In [4]:
rng = np.random.default_rng()          # remove () or pass a seed like default_rng(42) for reproducibility
df = pd.DataFrame(rng.random((150, 3)), columns=list("ABC"))
df

            A         B         C
0    0.681282  0.023369  0.645754
1    0.690050  0.212335  0.183732
2    0.027198  0.927507  0.711942
3    0.776203  0.815327  0.657665
4    0.409701  0.988102  0.726184
..        ...       ...       ...
145  0.453757  0.605458  0.226087
146  0.526054  0.134703  0.026662
147  0.284278  0.761997  0.266474
148  0.289748  0.335018  0.402284
149  0.148895  0.874858  0.731180

[150 rows x 3 columns]